@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@300;400;500;700&display=swap");


.custom-slider button.slick-next{
    right: 60px;
    z-index: 10;
}
.custom-slider button.slick-prev{
    left: 0px;
    z-index: 10;
}
.custom-slider button.slick-next::before{
    color: gray;
    background: #e7c7c7;
    content: '\276F';
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-slider button.slick-prev::before{
    color: gray;
    background: #e7c7c7;
    content: '\276E';
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.image-slider button.slick-next{
    right: 18px;
    z-index: 10;
    top: 55px;
}
.image-slider button.slick-prev{
    left: 0px;
    z-index: 10;
    top: 55px;
}
.image-slider button.slick-next::before{
    color: gray;
    background: #f25d5d;
    content: '\276F';
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-slider button.slick-prev::before{
    color: gray;
    background: #f25d5d;
    content: '\276E';
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .my-masonry-grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    margin-left: -30px;
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; 
    background-clip: padding-box;
  }
   */
 
.my-masonry-grid_column > div { 
    margin-bottom: 15px;
}